main {
  margin: 0 auto;
  max-width: 90%;
  padding: 50px 30px;
}
:root {
  --primary: #8c54ff;
  --tertiary: gray;
  --light: #fafafa;
  --dark: #000000;
  --darker: #111111;
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

h3 {
  background:  var(--dark);
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
}

.projects {
  background:  var(--dark);
  color: var(--light);
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

.projects:hover {
  color: var(--tertiary);
}

.githubproject1, .githubproject2, .githubproject3, .githubproject4, .githubproject5 {
  margin-right: 10px;
}

.resume {
  text-decoration: none;
  color: var(--light);
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: 20px;
  font-weight: normal;
}

header {
  background:  var(--dark);
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: 20px;
  font-weight: normal;
}

header a {
  color: var(--light);
  text-decoration: none;
}


.header{
  text-align: center;
  margin-top: 20px;
}

.header:hover {
  color: var(--tertiary);
}

.footer-img1 {
  display: block;
  margin-left: 90%;
  box-shadow: 10px 10px 5px black;
}

.footer-img2 {
  display: block;
  margin-right: 90%;
  margin-top: 15px;
  box-shadow: 10px 10px 5px #034f84;
}

img {
  max-width: 100%;
  display: block;
  width: 100%;
  height: auto;
}

.Haley {
  border-radius: 50%;
  position: relative;
  margin-left: 450px;
}

#about {
  text-align: right;
  position:relative; 
  top:2px; 
  margin-right: 40%;
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}

#Haley_Tech_Skills{
  text-align: right;
  position:relative; 
  top:2px; 
  margin-right: 33%;
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}
.Haley_Description{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 17px;
  letter-spacing: 1px;
  text-indent: 40px;
  word-spacing: -2px;
}
.aboutme {
  margin-right: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: 20px;
  font-weight: normal;
}

.aboutHaley {
  margin-right: 100px;
}

.Haley_L-F {
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}

.portfolio {
  margin-right: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: 20px;
  font-weight: normal;
}

.contact {
  margin-right: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: 20px;
  font-weight: normal;
}

.Haley_Contact {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}


li {
  list-style: none;
}

nav a:hover {
  text-decoration: none;
  color: var(--tertiary);
}

nav li {
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
}

.nav {
  text-decoration: none;
  color: black;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

textarea {
  width: 600px;
  height: 120px;
  border: 3px solid #cccccc;
  padding: 5px;
}

.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.justify-flex-start {
  justify-content: flex-start;
}

.justify-flex-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.align-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}

.justify-space-between-lg {
  justify-content: space-between;
}

.min-100-vh {
  min-height: 100vh;
}


.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.hover {
  position: absolute;
  height: 100%;
  width: 100%;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

